%section[forum]
  %h2= link_to forum.name, forum_path(forum)
  - if forum.has_description?
    %p.description= forum.description
  - if forum.has_nested_forums?
    .nested-forums= nested_forums_for forum
  - if forum.has_topics?
    .topics= topics_for forum
