// Category

$category-margin: 8px
$category-padding: 0px
$category-background-color: $forumby-grey

$category-name-margin: 0px
$category-name-padding: 8px
$category-name-font-size: 2em

$category-forums-margin: 0px
$category-forums-padding: 0px

$category-forum-margin: 0px
$category-forum-padding: 8px
$category-forum-background-color: lighten($forumby-blue, 23%)
$category-forum-border-top-width: 2px
$category-forum-border-top-style: solid
$category-forum-border-top-color: white

$category-forum-name-margin: 0px
$category-forum-name-padding: 0px
$category-forum-name-font-size: 1.5em

$category-forum-description-margin: 0px 0px 4px 0px
$category-forum-description-padding: 0px
$category-forum-description-text-color: darken(white, 70%)
$category-forum-description-font-size: 1em

$category-forum-nested-forums-margin: 0px
$category-forum-nested-forums-padding: 8px

$category-forum-nested-forum-margin: 0px 4px
$category-forum-nested-forum-padding: 0px

$category-forum-nested-forum-name-margin: 0px
$category-forum-nested-forum-name-padding: 0px
$category-forum-nested-forum-name-font-size: 1.2em

// -- //

.category
  +round-top-block

  margin: $category-margin
  padding: $category-padding

  background-color: $category-background-color

  .name
    +block

    margin: $category-name-margin
    padding: $category-name-padding

    font-size: $category-name-font-size

  .forums
    +block

    margin: $category-forums-margin
    padding: $category-forums-padding

  .category_forum:first-child
    border: none

  .category_forum
    +block

    margin: $category-forum-margin
    padding: $category-forum-padding

    border-top:
      width: $category-forum-border-top-width
      style: $category-forum-border-top-style
      color: $category-forum-border-top-color

    background-color: $category-forum-background-color

    .name
      +block

      margin: $category-forum-name-margin
      padding: $category-forum-name-padding

      font-size: $category-forum-name-font-size

    .description
      +block

      margin: $category-forum-description-margin
      padding: $category-forum-description-padding

      color: $category-forum-description-text-color

      font-size: $category-forum-description-font-size

    .nested-forums
      +block

      margin: $category-forum-nested-forums-margin
      padding: $category-forum-nested-forums-padding

    .nested_forum
      +inline-block

      margin: $category-forum-nested-forum-margin
      padding: $category-forum-nested-forum-padding

      .name
        +block

        margin: $category-forum-nested-forum-name-margin
        padding: $category-forum-nested-forum-name-padding

        font-size: $category-forum-nested-forum-name-font-size
