$forum-margin: 8px
$forum-padding: 0px
$forum-background-color: lighten($forumby-blue, 20%)

$forum-name-margin: 0px
$forum-name-padding: 8px 8px 4px 8px
$forum-name-font-size: 2em

$forum-nested-forums-margin: 0px
$forum-nested-forums-padding: 0px 16px

$forum-nested-forum-margin: 0px
$forum-nested-forum-padding: 8px

$forum-nested-forum-name-margin: 0px
$forum-nested-forum-name-padding: 0px
$forum-nested-forum-name-font-size: 1.2em

$forum-topics-margin: 0px
$forum-topics-padding: 0px

$forum-topic-margin: 0px
$forum-topic-padding: 8px
$forum-topic-border-top-width: 2px
$forum-topic-border-top-style: solid
$forum-topic-border-top-color: white
$forum-topic-background-color: lighten($forumby-blue, 23%)

$forum-topic-title-margin: 0px
$forum-topic-title-padding: 0px
$forum-topic-title-font-size: 1.5em

// -- //

.forum
  +round-top-block

  margin: $forum-margin
  padding: $forum-padding

  background-color: $forum-background-color

  .name
    +block

    margin: $forum-name-margin
    padding: $forum-name-padding

    font-size: $forum-name-font-size

  .nested-forums
    +block

    margin: $forum-nested-forums-margin
    padding: $forum-nested-forums-padding

  .nested_forum
    +inline-block

    margin: $forum-nested-forum-margin
    padding: $forum-nested-forum-padding

    .name
      +block

      margin: $forum-nested-forum-name-margin
      padding: $forum-nested-forum-name-padding

      font-size: $forum-nested-forum-name-font-size

  .topics
    +block

    margin: $forum-topics-margin
    padding: $forum-topics-padding

  .forum_topic:first-child
    border: none

  .forum_topic
    +block

    margin: $forum-topic-margin
    padding: $forum-topic-padding

    border-top:
      width: $forum-topic-border-top-width
      style: $forum-topic-border-top-style
      color: $forum-topic-border-top-color

    background-color: $forum-topic-background-color

    .title
      +block

      margin: $forum-topic-title-margin
      padding: $forum-topic-title-padding

      font-size: $forum-topic-title-font-size
