// Member

$member-margin: 8px
$member-padding: 0px
$member-background-color: $forumby-master-color
$member-border-width: 1px
$member-border-style: solid
$member-border-color: darken($member-background-color, 5%)

$member-name-margin: 0px
$member-name-padding: 8px
$member-name-font-size: 2em
$member-name-font-weight: normal

$member-information-margin: 0px
$member-information-padding: 8px

$member-information-topic-count-margin: 0px
$member-information-topic-count-padding: 0px 8px
$member-information-topic-count-font-size: 1.4em
$member-information-topic-count-font-weight: normal

$member-information-post-count-margin: 0px
$member-information-post-count-padding: 0px 8px
$member-information-post-count-font-size: 1.4em
$member-information-post-count-font-weight: normal

// -- //

.member
  +round-top-block

  margin: $member-margin
  padding: $member-padding

  border:
    width: $member-border-width
    style: $member-border-style
    color: $member-border-color

  background-color: $member-background-color

  .name
    +block

    margin: $member-name-margin
    padding: $member-name-padding

    font-size: $member-name-font-size
    font-weight: $member-name-font-weight

  .member-information
    +block

    margin: $member-information-margin
    padding: $member-information-padding

    .topic-count
      +inline-block

      margin: $member-information-topic-count-margin
      padding: $member-information-topic-count-padding

      font-size: $member-information-topic-count-font-size
      font-weight: $member-information-topic-count-font-weight

    .post-count
      +inline-block

      margin: $member-information-post-count-margin
      padding: $member-information-post-count-padding

      font-size: $member-information-post-count-font-size
      font-weight: $member-information-post-count-font-weight
