// Post

$post-margin: 8px
$post-padding: 0px
$post-background-color: $forumby-master-color
$post-border-width: 1px
$post-border-style: solid
$post-border-color: darken($post-background-color, 5%)

$post-author-margin: 0px
$post-author-padding: 0px
$post-author-background-color: transparent

$post-author-name-margin: 0px
$post-author-name-padding: 8px
$post-author-name-background-color: transparent
$post-author-name-font-size: 1.4em
$post-author-name-font-weight: normal
$post-author-name-word-wrap: break-word

$post-content-margin: 0px
$post-content-padding: 16px
$post-content-background-color: white
$post-content-text-color: $font-color
$post-content-font-size: $blueprint-font-size
$post-content-font-weight: normal
$post-content-word-wrap: break-word

// -- //

.post
  +round-top-block

  margin: $post-margin
  padding: $post-padding

  border:
    width: $post-border-width
    style: $post-border-style
    color: $post-border-color

  background-color: $post-background-color

  .author
    +block

    margin: $post-author-margin
    padding: $post-author-padding

    background-color: $post-author-background-color

    .name
      +block

      margin: $post-author-name-margin
      padding: $post-author-name-padding

      background-color: $post-author-name-background-color

      font-size: $post-author-name-font-size
      font-weight: $post-author-name-font-weight
      word-wrap: $post-author-name-word-wrap

  .content
    +block

    margin: $post-content-margin
    padding: $post-content-padding

    background-color: $post-content-background-color

    font-size: $post-content-font-size
    color: $post-content-text-color
    word-wrap: $post-content-word-wrap
