$topic-margin: 8px
$topic-padding: 0px
$topic-background-color: #f1f4f7
$topic-border-width: 1px
$topic-border-style: solid
$topic-border-color: darken($topic-background-color, 5%)

$topic-title-margin: 0px
$topic-title-padding: 8px
$topic-title-font-size: 2em

$topic-posts-margin: 0px
$topic-posts-padding: 0px

$topic-post-box-orient: horizontal
$topic-post-box-align: stretch
$topic-post-margin: 0px
$topic-post-padding: 0px
$topic-post-width: 100%
$topic-post-border-top-width: 1px
$topic-post-border-top-style: solid
$topic-post-border-top-color: $topic-border-color

$topic-post-member-margin: 0px
$topic-post-member-padding: 16px
$topic-post-member-width: 10%
$topic-post-member-background-color: darken($topic-background-color, 10%)
$topic-post-member-word-wrap: break-word

$topic-post-content-box-flex: 1
$topic-post-content-margin: 0px
$topic-post-content-padding: 16px
$topic-post-content-background-color: white
$topic-post-content-font-size: $blueprint-font-size
$topic-post-content-text-color: $font-color
$topic-post-content-word-wrap: break-word

// -- //

.topic
  +round-top-block

  margin: $topic-margin
  padding: $topic-padding

  border:
    width: $topic-border-width
    style: $topic-border-style
    color: $topic-border-color

  background-color: $topic-background-color

  .title
    +block

    margin: $topic-title-margin
    padding: $topic-title-padding

    font-size: $topic-title-font-size

  .posts
    +block

    margin: $topic-posts-margin
    padding: $topic-posts-padding

  .topic_post
    +box

    margin: $topic-post-margin
    padding: $topic-post-padding

    width: $topic-post-width

    border-top:
      width: $topic-post-border-top-width
      style: $topic-post-border-top-style
      color: $topic-post-border-top-color

    .topic_post_member

      margin: $topic-post-member-margin
      padding: $topic-post-member-padding

      width: $topic-post-member-width

      background-color: $topic-post-member-background-color

      word-wrap: $topic-post-member-word-wrap

    .content
      +box-flex($topic-post-content-box-flex)

      margin: $topic-post-content-margin
      padding: $topic-post-content-padding

      background-color: $topic-post-content-background-color

      font-size: $topic-post-content-font-size
      color: $topic-post-content-text-color
      word-wrap: $topic-post-content-word-wrap
