// Top Level Forum

$top-level-forum-margin: 8px
$top-level-forum-padding: 0px
$top-level-forum-background-color: darken($forumby-master-color, 5%)
$top-level-forum-border-width: 1px
$top-level-forum-border-style: solid
$top-level-forum-border-color: darken($top-level-forum-background-color, 5%)

$top-level-forum-name-margin: 0px
$top-level-forum-name-padding: 8px
$top-level-forum-name-font-size: 2em
$top-level-forum-name-font-weight: normal

$top-level-forum-description-margin: 0px
$top-level-forum-description-padding: 0px 8px 8px 8px
$top-level-forum-description-text-color: $font-color
$top-level-forum-description-font-size: 1em
$top-level-forum-description-font-weight: normal

$top-level-forum-nested-forums-margin: 0px
$top-level-forum-nested-forums-padding: 0px 16px

$top-level-forum-nested-forum-margin: 0px
$top-level-forum-nested-forum-padding: 8px

$top-level-forum-nested-forum-name-margin: 0px
$top-level-forum-nested-forum-name-padding: 0px
$top-level-forum-nested-forum-name-font-size: 1.2em
$top-level-forum-nested-forum-name-font-weight: normal

// -- //

.top_level_forum
  +round-top-block

  margin: $top-level-forum-margin
  padding: $top-level-forum-padding

  border:
    width: $top-level-forum-border-width
    style: $top-level-forum-border-style
    color: $top-level-forum-border-color

  background-color: $top-level-forum-background-color

  .name
    +block

    margin: $top-level-forum-name-margin
    padding: $top-level-forum-name-padding

    font-size: $top-level-forum-name-font-size
    font-weight: $top-level-forum-name-font-weight

  .description
    +block

    margin: $top-level-forum-description-margin
    padding: $top-level-forum-description-padding

    color: $top-level-forum-description-text-color

    font-size: $top-level-forum-description-font-size
    font-weight: $top-level-forum-description-font-weight

  .nested-forums
    +block

    margin: $top-level-forum-nested-forums-margin
    padding: $top-level-forum-nested-forums-padding

  .nested_forum
    +inline-block

    margin: $top-level-forum-nested-forum-margin
    padding: $top-level-forum-nested-forum-padding

    .name
      +block

      margin: $top-level-forum-nested-forum-name-margin
      padding: $top-level-forum-nested-forum-name-padding

      font-size: $top-level-forum-nested-forum-name-font-size
      font-weight: $top-level-forum-nested-forum-name-font-weight
