/* line 19, ../../app/stylesheets/forumby.sass */
#forumby {
  display: block;
  margin: 16px;
  padding: 16px;
}

/* line 25, ../../app/stylesheets/forumby.sass */
.category {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  display: block;
  margin: 8px;
  padding: 8px;
  background-color: #edeceb;
}
/* line 33, ../../app/stylesheets/forumby.sass */
.category .category-forums {
  display: block;
  padding: 4px;
}

/* line 38, ../../app/stylesheets/forumby.sass */
.forum {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  display: block;
  margin: 8px;
  padding: 8px;
  color: #f0f0f0;
  background-color: #91b7e6;
}
/* line 48, ../../app/stylesheets/forumby.sass */
.forum h2 {
  margin: 0px;
  color: white;
}
