%section[category]
  %h2= link_to category.name, category_path(category)
  - if category.has_description?
    %p.description= category.description
  - if category.has_forums?
    %ul.forums= forums_in category
