%div[list]
  .member-portrait
    = link_to list.name, member_path(list), :class => 'name'
  .member-information
    = link_to t('members.topics.count', :count => list.topic_count),
              member_topics_path(list),
              :class => 'topic-count'
    = link_to t('members.posts.count', :count => list.post_count),
              member_posts_path(list),
              :class => 'post-count'
